node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
git-portable.exe
git-installer.exe
pikogram-anti-github.zip

PortableGit/

git-portable.exe
pikogram-anti-github.zip


.vercel
